html,body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin:0;
	height: 100%;
	letter-spacing: 2px;
}

a{
	text-decoration: none;
	color: black;
}

html{

	display:none;
/*	background-color: lightblue;*/
}

li{
	list-style-type: none;
}


@media all and (max-width: 1108px)
{
	#siteNavBar ul{
	width: 13%;
	padding: 25px 1.5% 20px 1.5%;
	}

	#socialNavBar ul{
		display:none;
	}

		#siteNavBar #logo{
		padding:0;
	}

}

@media all and (min-width: 1109px){

	#siteNavBar ul{
	padding: 25px 20px 20px 20px;
	}
	#siteNavBar #logo{
		padding:0;
	}

}

@media all and (max-width: 375px){
	#laptop_format{
		display:none;
	}
}

@media all and (min-width: 376px){


/*=======================================

		SLIDESHOW

=========================================*/

#slideShow{
	width: 100%;
	height: 100%;
}

#slideShow img{
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
#wording{
	width: 70%;
	position: absolute;
	top: 20%;
	left: 15%;
	text-align: center;
}
#wording p{
	text-align: center; 
}
#topic{
	font-size: 80px;
}
#details{
	font-size: 30px;
	padding-bottom: 50px;
}

#button{
	font-size: 20px;
	background-color: lightblue;
	padding: 20px;
	border-radius: 20%;
	border: black solid 1px;
}

#button:hover{
	opacity: 0.5;
}


/*=======================================

		HEADER

=========================================*/


#header{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: none;
	height: 80px;
	border:1px black solid;
}


#siteNavBar ul, #socialNavBar ul

{
	float:left;
	margin: 0;
}

#siteNavBar ul:hover , #socialNavBar ul:hover{
	border-top: 4px solid brown;
}



#socialNavBar ul
{
	width: 4%;
	padding: 20px 15px 20px 15px;
	float: right;
}

#socialNavBar img{
	width: 100%;
}



#logo img{
	width: 100px;
}

/*=======================================

		Body_What you need..

=========================================*/

span.backbutton{
	position: absolute;
	left: 5%;
	top: 5%;
	font-size: 50px;
}

span.backbutton:hover{
	cursor: pointer;
	opacity: 0.5;
}


#body , #businessBody, #blogBody ,#restaurantBody{
	width: 70%;
	left: 15%;
	position: absolute;
	border: 1px black solid;
	top: 120px;
	padding-bottom: 100px;
	padding-top: 50px;
}

#bodyText{
	margin-top: 30px;
	font-weight: bold;
	line-height: 300%;
}

.headerText{
	text-align: center;
	padding-top: 30px;
	font-size: 30px;
	font-weight: normal;
}


#bgImage{
	opacity: 0.3;
}
#slideShow #bgImage{
	opacity: 0.2;
}

#choices li{
	text-align: center;
	float:left;
	width: 25%;
	padding-top: 20px;
	padding-bottom: 20px;

}

#choices li{
	cursor: pointer;
}

#businessBody li,#blogBody li,#restaurantBody li{
	list-style-type:  decimal;
	list-style-position: inside;
}

#businessBody, #blogBody,#restaurantBody{
	text-align: center;
}

#businessBody, #blogBody,#restaurantBody{
	display:none;
}

#restaurantBody a {
	color: blue;
	text-decoration: initial;
}

/*=======================================

		Folio

=========================================*/


#folio_body p{
	text-align: center;
}
#footer{
	position:fixed;
	bottom: 0;
	height: 100px;
}

#display{
	margin-top: 105px;
	width: 90%;
	margin-left: 5%;
	height: 400px;
	background-image: url();
}
#caption{
	text-align: center;
	margin-top: 30px;
}

#webIcon img{
	width: 10%;
	margin: 2.5%;
	float: left;
}

#showCase{
	opacity: 0.5;
	width: 100%;
	height: 90%;
	margin-top: 80px;
}

#someMusicLimited{
	border: 1px solid black;
}

#caption1,#caption2,#caption3{

	display:none;
}


/*=======================================

		About Me

=========================================*/

#aboutMeBody{
	margin: 150px 100px 150px 100px;
}

#bodyContent{
	font-size: 22px;
}

/*=======================================

		Contact Me

=========================================*/

#contactme_blank{
	margin-left: 15%;
	width: 70%;
	height: 200px;
	font-size: 20px;
}

#submitButton{
	text-align: center;
}

#submitButton input[type=text]{
	padding: 5px;
}

}